#login {
  background: #fff url('/img/login.jpg') left center no-repeat;
  background-size: cover;
  transition: 3s;
  height: 100%;
}

.login_buttons {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
}

.login_button {
  margin: 15px auto;
  max-width: 60%;
}
